.top-selects{
  .form-control{
    width: 30% !important;
  }
}
.pcoded-navbar{
    position: fixed !important;
}

.prime-logo{
  width: 120px;
}
.dark{
  .pcoded-submenu li.active > a,
  .pcoded-submenu li:hover > a{
    color: white !important;
  }
}
