.buy-sell-row {
  display: flex;
}
.buy-sell-card-main {
  display: flex;
  width: 100%;
}
.buy-sell-col {
  display: flex;
}
.crm-dashboard {
  .dt-cust-search {
    @include mobile {
      float: none !important;
    }
  }

  .row-color {
    background-color: #231e1e40;
  }

  .accept-reject-row {
    display: none;
  }
  .buy-sell-card-row {
    display: none;
  }

  .request {
    .accept-reject-row {
      display: flex;
      button {
        width: 100%;
        @include mobile {
          margin-bottom: 15px;
        }
        @include iphonePlus {
          margin-bottom: 15px;
        }
      }
    }
    .buy-sell-card-row {
      display: block;
    }
    .request-row {
      display: none;
    }
    .divider {
      display: none;
    }
    .accounts-row {
      display: none;
    }
  }
  .divider {
    border-top: 1px solid #c1c1c1;
    margin-right: 5px;
    margin-left: -5px;
    margin-bottom: 25px;
  }
  .req-btn {
    width: 100%;
  }
  .date-type {
    padding-left: 5px !important;
  }
  /*.maturity-col {
    padding: 0;
    @media screen and (max-width: 32em) {
      width: 50% !important;
    }
    .date-type {
      padding-bottom: 0;
      padding-top: 0;
      height: 34px !important;
    }
    .date-input {
      max-width: 130px;
      margin-left: 0 !important;
      @include tablet-mobile {
        width: 50% !important;
      }
      @include ipad-pro {
        width: 50% !important;
      }
    }
  }*/

  /*.maturity-label {
    margin-left: -15px;
    @include tablet-mobile {
      margin-left: 0;
    }

    @include ipad-pro {
      margin-left: 0;
    }
  }*/

  .date-input-group {
    /*position: relative;
    .input-group-append {
      position: absolute;
      right: 0;
      height: 2.14rem;
    }*/
  }

  .buy-sell-card-main {
    .rotate-currency-col {
      @include tablet-mobile {
        padding-left: 5px !important;
      }
    }
    .card-header {
      border: none;
    }
    .currency-type {
      font-size: 13px;
      border: 1px solid #cccccc !important;
    }
    .currency-value {
      /*@include tablet-mobile {
        width: 47% !important;
      }

      @include tablet-landscape {
        width: 47% !important;
      }
      @include ipad-pro {
        width: 47% !important;
      }*/
      &.buy-curr {
        margin-left: 0;
      }
    }
  }
  .plus-modal {
    width: 25%;
    /*.dl-horizontal {
      @include tablet-mobile {
        .col-sm-6 {
          width: 50%;
        }
        .col-sm-3 {
          width: 30%;
        }
        .col-sm-9 {
          width: 70%;
        }
        .accounts-dropdown {
          width: 50%;
        }
      }
      dd, dt {
        !*
                padding-left: 0;
                padding-right: 0;*!
        text-align: left;
        border-bottom: 1px solid #c1c1c1;
        font-weight: bold;
        margin-top: 10px;
      }
      dt {
        label {
          padding: 0;
          font-size: 10px;
        }
        &.m-t-0 {
          margin-top: 0 !important;
        }
      }
      dd {
        margin-bottom: 0;
        padding-bottom: .5rem;

        label {
          font-weight: normal;
        }
        .debit-label {
          margin-right: 11px;
        }
        .credit-label {
          margin-right: 7px;
        }

        select {
          margin-left: 0;
          font-size: 12px;
        }
      }
    }*/
    .confirm-close-row {
      button {
        width: 100%;
        @include mobile {
          margin-bottom: 15px !important;
        }
        @include iphonePlus {
          margin-bottom: 15px !important;
        }
      }
      .print-col {
        padding-top: 2px;
        font-size: 24px;
      }
    }
    /*.req-btn {
      width: 92%;
    }
    .entity-row {
      display: inline-block;
      width: 100%;
    }
    .divider {
      margin: 0;
    }
    .card {
      padding: 0;
    }
    .select-spot {
      margin-right: 10px
    }
    .currency-value {
      width: 80%;
    }
    .currency-type {
      font-size: 13px;
      border: 1px solid #cccccc !important;
    }*/
  }
  .filter-on-mob {
    @include tablet-mobile {
      padding-top: 6px;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 5px;
    }
  }
  .sort-alt {
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 40%;
    left: 28%;
    white-space: nowrap;

    @include tablet-mobile {
      left: 29%;
    }
  }
  .bg-success {
    background-color: #9ccc65 !important;
  }
  .buy-sell-actions {
    display: inline;
    cursor: pointer;
  }
  .buy-sell-card-add {
    display: flex;
    width: 100%;
    min-height: 400px;
    .card-block {
      display: flex;
      height: 100%;
      a {
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding: 10px;
      }
      .icofont-plus {
        font-size: 40px
      }
    }
  }
  .card-block {
    .dropdown-menu {
      @include mobile {
        left: -72px !important;
        right: 0;
      }

      @include iphonePlus {
        left: -52px !important;
        right: 0;
      }
    }
    .form-control {
      width: 100%;
    }
    .f-64 {
      @include mobile {
        font-size: 45px;
      }
    }
    .label {
      border-radius: 0;
      font-size: 14px;
      border-color: #c1c1c1;
    }
    .digit {
      padding-right: 115px;
    }
    .buy-sell-card {
      padding-left: 0;
      .card {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .buy-sell-select {
      padding-left: 5px;
      height: 2.14rem !important;
    }
  }
  .form-control {
    border: 1px solid #cccccc;

    &:hover {
      border: 1px solid #cccccc !important;
    }
    &:focus {
      border: 1px solid #cccccc !important;
    }
  }
}
